<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App Gestor de Tareas</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sketchy/bootstrap.min.css">

    <!-- Fuente de Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

    <!-- Nuestra hoja de estilo (main.css) -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

</head>
<body>
    <main class="container p-4">
        <h1 class="display-4 text-center mt-4 titulo">App de Gestión de Tareas</h1>

        <div class="row">
            <div class="col-md-4 offset-md-4 my-auto"> <!--Este div ocupará 4 columnas (centrado)-->
                <div class="card"> <!--Creación del objeto card-->
                    <div class="card-header">
                        <form action="/crear-tarea" method="post">
                            <!--Separamos el input del botón metiendo el input en este form-group para que los elementos
                            no estén pegados y haya separación entre ellos-->
                            <div class="form-group">
                                <input type="text" name="contenido-tarea" placeholder="Tarea" class="form-control" autofocus>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block"> <!--btn-block hace que el botón ocupe todo el ancho-->
                                Guardar
                            </button>
                        </form>
                    </div>
                    <div class="card-body">
                        <!-- Las etiquetas <ul> y <li> sirven para crear listas en HTML -->
                        <ul>
                            <!-- Gracias a Jinja se puede introducir código Python en nuestro HTML -->
                            {% for tarea in lista_de_tareas %}
                            <li>
                                {{tarea.contenido}} <!--contenido es la variable de la clase Tarea con el texto-->
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </main>

</body>
</html>